{% extends "module_base.html" %}
{% load static %}

{% block title %}
Welcome! We're here to help
{% endblock %}

{% block mod_name %}
About Us
{% endblock %}

{% block right_btn_txt %}
Done!
{% endblock %}

{% block left_btn_url %}
{% url 'welcome' %}
{% endblock %}

{% block right_btn_url %}
{% url 'welcome' %}
{% endblock %}

{% block content %}
<div class="container text-center block_content">
    <br>
    <h1>Welcome!</h1>
    <hr style="width:25%; text-align:center;" color="#8a8a8a">
    <br>
    <p>USC TeleHELP is a companion to the USC TeleCARE service.
        We're here to help your virtual health appointment go smoothly.
        <br>
        <br>
        We'll carefully walk you through the steps
        of getting ready so that you feel comfortable and confident when it's time to
        access your appointment through USC TeleCARE!</p><br>
    <p>To get ready for your appointment, please follow the steps
        under the <strong>Before Visit Day</strong> and <strong>On Visit Day</strong> checklists. Please use the buttons
        on each page to navigate the USC TeleHELP service.
    </p><br>
</div>
<br>
{% endblock %}
