{% extends "module_base.html" %}
{% load static %}

{% block title %}
Browser Check
{% endblock %}

{% block mod_name %}
Browser Check
{% endblock %}

{% block right_btn_txt %}
Done!
{% endblock %}

{% block left_btn_url %}
{% url 'browser_check' 4 %}
{% endblock %}

{% block right_btn_url %}
{% url 'welcome' %}
{% endblock %}

{% block content %}
<div class="container text-center block_content">
    <br>
    <h1>Opening Chrome or Firefox Browser</h1>
    <hr style="width:75%; text-align:center;" color="#8a8a8a">
    <br>
    <p><strong>You're all set!</strong> Now that you have the Google Chrome or Mozilla Firefox internet browser
        open, you can access your USC TeleCARE appointment.
        <br>
        <br>
        <br>
        For help on how to get to your appointment from the internet browser, please
        review the <strong>"Finding Your Waiting Room"</strong> lesson on the home page if you have not already.
        <br>
        <br>
        <br>
        If you should have any <strong>difficulties or additional questions</strong>,
        please call the USC TeleCARE Support Team, and we'll help!
        <br>
    </p><br><br>
    <p style="font-size:250%;">USC TeleCARE Support Team &rarr; <strong>1-888-585-8019</strong></p>
    <br>
    <br>
</div>
<br>
{% endblock %}