{% extends "module_base_2b.html" %}
{% load static %}

{% block title %}
Browser Check
{% endblock %}

{% block mod_name %}
Browser Check
{% endblock %}

{% block left_btn_url %}
{% url 'browser_check' 4 %}
{% endblock %}

{% block content %}
<div class="container text-center block_content">
    <br>
    <h1>You're All Set!</h1>
    <hr style="width:35%; text-align:center;" color="#8a8a8a">
    <img src="{% static 'checkmark.png' %}" alt="checkmark" style="width:30%;">
    <p>
        For help on how to get to your appointment from the internet browser,
        <br>please review the "<strong>Finding Your Waiting Room</strong>" lesson.
        <br>
        <br>
        <strong>Difficulties or additional questions?</strong>
        <br>Please call the USC TeleCARE Support Team, and we'll help!
        <br>
    </p><br><br>
    <p style="font-size:250%;">USC TeleCARE Support Team &rarr; <strong>1-888-585-8019</strong></p>
    <br>
    <br>
</div>
<br>
{% endblock %}