{% extends "module_base.html" %}
{% load static %}

{% block title %}
Browser Check
{% endblock %}

{% block mod_name %}
Browser Check
{% endblock %}

{% block right_btn_txt %}
Next &rarr;
{% endblock %}

{% block left_btn_url %}
{% url 'browser_check' 0 %}
{% endblock %}

{% block right_btn_url %}
{% url 'browser_check' 3 %}
{% endblock %}

{% block content %}
<div class="container text-center block_content">
    <br>
    <h1>Connecting with Computer</h1>
    <hr style="width:75%; text-align:center;" color="#8a8a8a">
    <br>
    <p>To connect to USC TeleCARE with a computer, you must use any one of the following browsers:
        <strong>Google Chrome</strong>, <strong>Mozilla Firefox</strong>, <strong>Microsoft Edge</strong>, or <strong>Safari</strong>.
        Here's what they look like:<br><br>
        Google Chrome<br>
        <img src="{% static 'chrome.png' %}" alt="google chrome logo" style="width:20%;"><br><br>
        Mozilla Firefox<br>
        <img src="{% static 'firefox.png' %}" alt="mozilla firefox logo" style="width:20%;"><br><br>
        Microsoft Edge<br>
        <img src="{% static 'edge.png' %}" alt="microsoft edge logo" style="width:20%;"><br><br>
        Safari<br>
        <img src="{% static 'safari.png' %}" alt="safari logo" style="width:20%;"><br><br>
        Press "<strong>Next</strong>" to learn more!
    </p><br>
</div>
<br>
{% endblock %}