{% extends "module_base_2b.html" %}
{% load static %}

{% block title %}
Browser Check
{% endblock %}

{% block mod_name %}
Browser Check
{% endblock %}

{% block left_btn_url %}
{% url 'browser_check' 0 %}
{% endblock %}

{% block content %}
<div class="container text-center block_content">
    <br>
    <h1>Connecting with Smartphone or Tablet</h1>
    <hr style="width:75%; text-align:center;" color="#8a8a8a">
    <br>
    <p>If you plan on connecting to USC TeleCARE with a smartphone or
        <br>tablet, then you are <strong>done</strong> with the Browser Check lesson!
    </p>
    <br>
    <img src="{% static 'telecare-app-logo.png' %}" alt="USC TeleCARE App Logo" style="width:20%;">
    <br>
    <br>
    <br>
    <p>You will need to have the USC TeleCARE app installed. Please review the "<strong>Installing USC TeleCARE</strong>" lesson.
    </p>
    <br>
    <br>
    <br>
</div>
<br>
{% endblock %}
