{% extends "module_base.html" %}
{% load static %}

{% block title %}
Browser Check
{% endblock %}

{% block mod_name %}
Browser Check
{% endblock %}

{% block right_btn_txt %}
Next &rarr;
{% endblock %}

{% block left_btn_url %}
{% url 'browser_check' 3 %}
{% endblock %}

{% block right_btn_url %}
{% url 'browser_check' 5 %}
{% endblock %}

{% block content %}
<div class="container text-center block_content">
    <br>
    <h1>Opening Chrome or Firefox Browser</h1>
    <hr style="width:75%; text-align:center;" color="#8a8a8a">
    <br>
    <p><strong>Step 2:</strong> Now that we are at the main screen of our computer,
        <br>we can open the browser.</p>
    <br>
    <br>
    <h2><strong>If You Have An Apple Computer</strong></h2>
    <hr style="width:50%; text-align:center;" color="#8a8a8a">
    <br>
    <p><strong>Step 3:</strong> Click on the <strong>search picture</strong> in the top right.
        <br>Type "Google Chrome" into the search bar.
        <br><br><strong>Step 4:</strong> When Google Chrome appears, we can <strong>click on it</strong>.
    </p>
    <br>
    <img src="{% static 'open-chrome.gif' %}" alt="Opening Google Chrome on Apple Computer" style="width:60%;">
    <br>
    <br>
    <br>
    <h2><strong>If You Have A Microsoft Windows Computer</strong></h2>
    <hr style="width:70%; text-align:center;" color="#8a8a8a">
    <br>
    <p><strong>Step 3:</strong> Look for the Google Chrome picture on the main screen.
        <br>Double-click the picture to open Google Chrome.
    </p>
    <br>
    <img src="{% static 'open-chrome-win.gif' %}" alt="Opening Google Chrome on Apple Computer" style="width:60%;">
    <br>
    <br>
    <br>
    <p>Press "<strong>Next</strong>" to learn more!</p>
    <br>
</div>
<br>
{% endblock %}