{% extends "module_base_2b.html" %}
{% load static %}

{% block title %}
Microphone and Camera
{% endblock %}

{% block mod_name %}
Microphone and Camera
{% endblock %}

{% block right_btn_txt %}
Next &rarr;
{% endblock %}

{% block left_btn_url %}
{% url 'cam_mic' 1 %}
{% endblock %}

{% block content %}
<div class="container text-center block_content">
    <br>
    <h1>Android System</h1>
    <hr style="width:50%; text-align:center;" color="#8a8a8a">
    <br>
    <p>Have you installed USC TeleCARE before?</p><br>
    <a href="{% url 'cam_mic' 6 %}" class="btn btn-warning btn-lg" style="width:60%; font-size:225%; color:"><strong>Yes</strong></a><br><br>
    <a href="{% url 'cam_mic' 7 %}" class="btn btn-warning btn-lg" style="width:60%; font-size:225%; color:"><strong>No</strong></a><br><br>
</div>
<br>
{% endblock %}