{% extends "module_base_2b.html" %}
{% load static %}

{% block title %}
Microphone and Camera
{% endblock %}

{% block mod_name %}
Microphone and Camera
{% endblock %}

{% block left_btn_url %}
{% url 'cam_mic' 0 %}
{% endblock %}

{% block content %}
<div class="container text-center block_content">
    <br>
    <h1>Select Device Type</h1>
    <hr style="width:50%; text-align:center;" color="#8a8a8a">
    <br>
    <p>To proceed, you will need to know if you are using an Android or iOS device. Click the button matching the device you will use at your appointment.</p><br>
    <a href="{% url 'cam_mic' 2 %}" class="btn btn-warning btn-lg" style="width:60%; font-size:225%; color:"><strong>iOS</strong></a><br><br>
    <a href="{% url 'cam_mic' 3 %}" class="btn btn-warning btn-lg" style="width:60%; font-size:225%; color:"><strong>Android</strong></a><br><br>
    <a href="{% url 'install' 8 %}" class="btn btn-warning btn-lg" style="width:60%; font-size:225%; color:"><strong>How can I tell?</strong></a><br><br>
</div>
<br>
{% endblock %}
