{% extends "module_base_2b.html" %}
{% load static %}

{% block title %}
Microphone and Camera
{% endblock %}

{% block mod_name %}
Microphone and Camera
{% endblock %}

{% block left_btn_url %}
{% url 'cam_mic' 7 %}
{% endblock %}

{% block content %}
<div class="container text-center block_content">
    <br>
    <h1>Enable Microphone Walkthrough</h1>
    <h2>(First Time Android Users)</h2>
    <hr style="width:50%; text-align:center;" color="#8a8a8a">
    <br>
    <p>Placeholder</p><br>
</div>
<br>
{% endblock %}