{% extends "module_base_2b.html" %}
{% load static %}

{% block title %}
Installing USC TeleCARE
{% endblock %}

{% block mod_name %}
Installing USC TeleCARE
{% endblock %}

{% block left_btn_url %}
{% url 'install' 1 %}
{% endblock %}

{% block content %}
<div class="container text-center block_content">
    <br>
    <h1>Is my device iOS or Android?</h1>
    <hr style="width:50%; text-align:center;" color="#8a8a8a">
    <br>
    <p>iOS devices are all made by Apple and will have the Apple logo somewhere.<br>
    All iPhones are iOS. For example, on the back you will see:</p><br>
    <img src="{% static 'example_iphone.jpg' %}" alt="Apple logo example" class="img-fluid example_iphone"><br><br>
    <p>Android devices come in many styles. To check if your device is Android, look at its Settings. It will say Android like in the below example:</p><br>
    <img src="{% static 'example_android.png' %}" alt="Android settings example" class="img-fluid example_android"><br><br>
    <p>If your device doesn't match either description you may have something else. Unfortunately, TeleCARE is only available for iOS and Android - you will need either one of those devices or a computer with the Chrome or Firefox browser. To check if your computer is compatible, review the "<strong>Browser Check</strong>" lesson.</p><br>
    <p>If you have any questions contact the USC TeleCARE support team.</p><br>
    <p style="font-size:250%;">USC TeleCARE Support Team &rarr; <strong>1-888-585-8019</strong></p><br>

</div>
<br>
{% endblock %}
