{% extends "module_base_2b.html" %}
{% load static %}

{% block title %}
Installing USC TeleCARE
{% endblock %}

{% block mod_name %}
Installing USC TeleCARE
{% endblock %}

{% block left_btn_url %}
{% url 'install' 3 %}
{% endblock %}

{% block content %}
<div class="container text-center block_content">
    <br>
    <h1>Using USC TeleCARE (iOS)</h1>
    <hr style="width:50%; text-align:center;" color="#8a8a8a">
    <br>
    <p>To open TeleCARE, look for and tap on the icon on your device. It will look like this:</p><br>
    <img src="{% static 'telecare-app-logo.png' %}" alt="TeleCARE icon" class="img-fluid ios_telecare_icon"><br><br>
    <p>If you are having trouble finding it, you can also open TeleCARE by clicking the button below and tapping "Open":</p><br>
    <img src="{% static 'ios_app_open.jpeg' %}" alt="App Store open button" class="img-fluid app_store_button"><br><br>
    <p>All the instructions are below in video form:</p><br>
    <div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item standard_video" src="https://www.youtube.com/embed/8jQwxnnF0eo" alt="YouTube video 'How to Install USC TeleCARE on Your iPhone'"></iframe>
    </div>
    <br>
    <p>You will need to open USC TeleCARE at your appointment time. To learn more, review the <strong>Using USC TeleCARE</strong> lesson.</p><br>
</div>
<br>
{% endblock %}
