{% extends "module_base.html" %}
{% load static %}

{% block title %}
Internet Check
{% endblock %}

{% block mod_name %}
Internet Check
{% endblock %}

{% block right_btn_txt %}
Done!
{% endblock %}

{% block left_btn_url %}
{% url 'welcome' %}
{% endblock %}

{% block right_btn_url %}
{% url 'welcome' %}
{% endblock %}

{% block content %}
<div class="container text-center" style="background-color:#cccccc; border-radius:15px;">
    <br><h1>How to Check Your Internet</h1>
    <hr style="width:50%; text-align:center;" color="#8a8a8a"><br>
    <p style="font-size:200%;">Since the USC TeleCARE service uses internet for your appointment,
        it's <strong>important</strong> to make sure that you have a good internet connection at the location from where
        you'd like to connect to your appointment, such as from your home.</p><br>
    <p style="font-size:200%;">To check that you have a good internet connection,
        please call our USC TeleCARE Support Team <strong>at least two days</strong> prior to your appointment,
        and we'll help!
    </p><br>
    <p style="font-size:250%;">USC TeleCARE Support Team &rarr; <strong>1-888-585-8019</strong></p><br>
</div>
<br>
{% endblock %}