{% extends "module_base.html" %}
{% load static %}

{% block title %}
Internet Check
{% endblock %}

{% block mod_name %}
Internet Check
{% endblock %}

{% block right_btn_txt %}
Done!
{% endblock %}

{% block left_btn_url %}
{% url 'welcome' %}
{% endblock %}

{% block right_btn_url %}
{% url 'welcome' %}
{% endblock %}

{% block content %}
<div class="container text-center block_content">
    <br><h1>How to Check Your Internet</h1>
    <hr style="width:50%; text-align:center;" color="#8a8a8a"><br>
    <p>For a smooth appointment, it's important that you have <strong>good internet connection</strong>
        at the location from where you'd like to connect.
    </p>
    <br>
    <br>
    <img src="{% static 'internet-help.png' %}" alt="Internet Support Staff" style="width:50%;">
    <br>
    <br>
    <br>
    <p>To check that you have a good internet connection, please call our USC TeleCARE Support Team
        <strong>at least two days</strong> prior to your appointment, we'll help!
    </p>
    <br>
    <br>
    <p style="font-size:250%;">USC TeleCARE Support Team &rarr; <strong>1-888-585-8019</strong></p>
    <br>
    <br>
</div>
<br>
{% endblock %}
