{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>{% block title %}[Title]{% endblock %}</title>
</head>
<body>

<!-- Header -->
<div class="jumbotron text-center" style="background-color:#8F001B">
    <h1 style="color:#FFB400; text-align:center; font-size:600%">USC TeleHELP</h1>
    <hr style="width:80%; text-align:center;" color="#FFB400">
    <h3 style="text-align:center; color:#FFB400; font-size:300%">{% block mod_name %}[Module Name]{% endblock %}</h3>
</div>

<!-- Content will get inserted here -->
{% block content %}
Body content
{% endblock %}

<!-- Navigation buttons -->
<div class="text-center">
    <div class="btn-group d-flex" role="group">
        <a href="{% block left_btn_url %}left_btn_url{% endblock %}" class="btn btn-warning w-50" style="margin:5px; font-size:250%;">&larr; Back</a>
        <a href="{% url 'welcome' %}" class="btn btn-warning w-50" style="margin:5px; font-size:250%;">Home</a>
        <a href="{% block right_btn_url %}right_btn_url{% endblock %}" class="btn btn-warning w-50" style="margin:5px; font-size:250%;">{% block right_btn_txt %}[Right]{% endblock %}</a>
    </div>
</div>

<br>

<!-- Footer -->
<footer class="footer" style="background-color:#8F001B;">
    <div class="container text-center">
        <br>
        <span style="color:#FFB400; font-size:200%;">Keck Medicine of USC</span>
        <br>
        <br>
    </div>
</footer>

</body>
</html>