{% extends "module_base.html" %}
{% load static %}

{% block title %}
Using USC TeleCARE
{% endblock %}

{% block mod_name %}
Using USC TeleCARE
{% endblock %}

{% block right_btn_txt %}
Done!
{% endblock %}

{% block left_btn_url %}
{% url 'using_telecare' 4 %}
{% endblock %}

{% block right_btn_url %}
{% url 'welcome' %}
{% endblock %}

{% block content %}
<div class="container text-center block_content">
    <br>
    <h1>Testing Your Connection</h1>
    <hr style="width:50%; text-align:center;" color="#8a8a8a">
    <br>
    <p>
        Once the connection test has finished, you should see the below
        <br>page if you have a stable connection.
    </p>
    <br>
    <br>
    <img src="{% static 'img-21.png' %}" alt="usc telecare connection test complete" style="width:30%;">
    <br>
    <br>
    <p>
        You may press the blue <strong>Done</strong> button in the upper-left of the page.
        <br>
        <br>
        If your connection quality is not good, please try moving to a
        <br>different location, if possible.
        <br>
    </p>
    <br>
    <br>
    <p>
        All set! Press <strong>Done!</strong> to return Home
    </p>
    <br>
</div>
{% endblock %}