{% extends "module_base.html" %}
{% load static %}

{% block title %}
Finding your waiting room
{% endblock %}

{% block mod_name %}
Finding your waiting room
{% endblock %}

{% block right_btn_txt %}
Next &rarr;
{% endblock %}

{% block left_btn_url %}
{% url 'waiting_room' 1 %}
{% endblock %}

{% block right_btn_url %}
{% url 'welcome' %}
{% endblock %}

{% block content %}
<div class="container text-center block_content">
    <br>
    <h1>Email demonstration</h1>
    <hr style="width:50%; text-align:center;" color="#8a8a8a">
    <br>
    <img src="{% static 'email_link_demo.gif' %}" alt="Email demo" class="img-fluid email_demo">
    <br>
</div>
<br>
{% endblock %}
