{% extends "module_base.html" %}
{% load static %}

{% block title %}
Finding your waiting room
{% endblock %}

{% block mod_name %}
Finding Your Waiting Room
{% endblock %}

{% block right_btn_txt %}
Next &rarr;
{% endblock %}

{% block left_btn_url %}
{% url 'waiting_room' 0 %}
{% endblock %}

{% block right_btn_url %}
{% url 'waiting_room' 2 %}
{% endblock %}

{% block content %}
<div class="container text-center block_content">
    <br>
    <h1>Click "Enter Waiting Room"</h1>
    <hr style="width:50%; text-align:center;" color="#8a8a8a">
    <br>
    <p>In the email, <strong>scroll down</strong> until you see this button:</p><br>
    <img src="{% static 'email_link.PNG' %}" alt="Email link example" class="img-fluid standard_img"><br><br><br>
    <p><strong>Click or tap</strong> on the button in your email to be <strong>directed to your appointment</strong>
        on the USC TeleCARE service.</p><br>
    <p>Click the <strong>"Next"</strong> button below to see <strong>how to find</strong> the waiting room button in your email.</p>
    <br>
</div>
<br>
{% endblock %}
