{% extends "module_base.html" %}
{% load static %}

{% block title %}
Finding your waiting room
{% endblock %}

{% block mod_name %}
Finding your waiting room
{% endblock %}

{% block right_btn_txt %}
Next &rarr;
{% endblock %}

{% block left_btn_url %}
{% url 'welcome' %}
{% endblock %}

{% block right_btn_url %}
{% url 'welcome' %}
{% endblock %}

{% block content %}
<div class="container text-center block_content">
    <br>
    <h1>1. Check your email</h1>
    <hr style="width:50%; text-align:center;" color="#8a8a8a">
    <br>
    <p>Look for an email with <strong>Keck Medicine of USC</strong> and <strong>USC TeleCARE</strong> written
        at the top, like in the picture shown here...</p><br>
    <img src="{% static 'email_header.PNG' %}" alt="Email header example" class="img-fluid email_header"><br><br>
    <!-- <p style="font-size:200%;">To get ready for your appointment, please follow the steps
        under the <strong>Before Visit Day</strong> and <strong>On Visit Day</strong> checklists. Please use the buttons
        on each page to navigate the USC TeleHELP service.
    </p><br> -->
</div>
<br>
{% endblock %}
