{% extends "module_base_2b.html" %}
{% load static %}

{% block title %}
Finding your waiting room
{% endblock %}

{% block mod_name %}
Finding Your Waiting Room
{% endblock %}

{% block left_btn_url %}
{% url 'waiting_room' 1 %}
{% endblock %}

{% block content %}
<div class="container text-center block_content">
    <br>
    <h1>Email Demonstration</h1>
    <hr style="width:50%; text-align:center;" color="#8a8a8a">
    <br>
    <img src="{% static 'email_link_demo.gif' %}" alt="Email demo" class="img-fluid standard_video" style="width:50%;">
    <br>
    <br>
    <p style="font-size:250%;">If you should have any <strong>difficulties or additional questions</strong>,
        please call the USC TeleCARE Support Team, and we'll help!<br><br>
        USC TeleCARE Support Team &rarr; <strong>1-888-585-8019</strong></p><br>
</div>
<br>
{% endblock %}
