{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'welcome.css' %}">
    <title>Welcome</title>
</head>
<body style="background-color:#FFFFFF">

<div class="container">
    <div class="jumbotron text-center" style="background-color:#8F001B">
        <span>
            <img src="{% static 'keck-logo.jpeg' %}" alt="Keck Medicine of USC logo" id="logo">
        </span>
        <span>
            <h1 style="color:#FFB400; text-align:center; font-size:600%">USC TeleHELP</h1>
            <h3 style="text-align:center; color:#FFB400; font-size:200%">Telemedicine Appointment Assistance</h3>
        </span>
    </div>
</div>

<div class="content">
    <hr style="width:70%; text-align:center;" color="#8a8a8a">
    <h1 style="text-align:center;">Before Visit Day Checklist</h1><br>
    <h3 style="text-align:center;">~ Use your finger or mouse to press a button to learn more ~</h3>
    <hr style="width:70%; text-align:center;" color="#8a8a8a">

    <div class="text-center">
        <a href="{% url 'about_telehelp' 0 %}" class="btn btn-warning btn-lg" style="width:45%; font-size:185%;"><strong>1 &rarr; Welcome!</strong></a><br><br>
        <a href="{% url 'install' 0 %}" class="btn btn-warning btn-lg" style="width:45%; font-size:185%;"><strong>2 &rarr; Installing USC TeleCARE</strong></a><br><br>
        <a href="{% url 'browser_check' 0 %}" class="btn btn-warning btn-lg" style="width:45%; font-size:185%;"><strong>3 &rarr; Browser Check</strong></a><br><br>
        <a href="{% url 'cam_mic' 0 %}" class="btn btn-warning btn-lg" style="width:45%; font-size:185%;"><strong>4 &rarr; Camera and Microphone Check</strong></a><br><br>
        <a href="{% url 'readiness_check' 0 %}" class="btn btn-warning btn-lg" style="width:45%; font-size:185%;"><strong>5 &rarr; Readiness Check</strong></a><br><br><br><br>

        <hr style="width:70%; text-align:center;" color="#8a8a8a">
        <h1 style="text-align:center;">On Visit Day Checklist</h1><br>
        <h3 style="text-align:center;">~ Use your finger or mouse to press a button to learn more ~</h3>
        <hr style="width:70%; text-align:center;" color="#8a8a8a">
        <div class="text-center">
            <a href="{% url 'waiting_room' 0 %}" class="btn btn-warning btn-lg" style="width:45%; font-size:185%;"><strong>1 &rarr; Finding Your Waiting Room</strong></a><br><br>
            <a href="{% url 'using_telecare' 0 %}" class="btn btn-warning btn-lg" style="width:45%; font-size:185%;"><strong>2 &rarr; Using USC TeleCARE</strong></a>
        </div>
    </div>
</div><br><br><br><br>

<footer class="footer" style="background-color:#8F001B;">
    <div class="container center">
        <br><span class="center" style="color:#FFB400; text-align:center; font-size:185%">For assistance, please contact the USC TeleCARE Support Team</span><br><br>
        <span class="center" style="color:#FFB400; text-align:center; font-size:170%"><strong>Mon. &ndash; Fri., 8AM &ndash; 5PM PST &rarr; (833) 532 - 5872</strong></span><br>
        <span class="center" style="color:#FFB400; text-align:center; font-size:170%"><strong>After Hours, Holidays, or Weekends &rarr; (888) 585 - 8019</strong></span><br><br>
        <span class="center" style="color:#FFB400; text-align:center; font-size:350%"><strong>Keck Medicine of USC</strong></span><br>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
