/* Styling for all modules */

.block_content {
  background-color: #cccccc;
  border-radius: 15px;
}

.block_content p {
  font-size:200%;
}


/* Styling for waiting_room_app */

.email_header {
  border-radius: 5px;
  margin-bottom: 30px;
}
